		/*margenes*/
.mt-2{
	margin-top: 2%;
}
		/*padding*/
.pd2{
	padding: 2%;
}

div.form-group{
	background-color: #607D8B
;
	padding: 1%;
	display: inline-block;
	margin: 1%;
}
h3{
	display: inline-block;
	background-color: #3F51B5;
	color: white;
	padding: 1%;
	margin: 1%;
}
#contenedor{
	padding: 2%;
	background-color: grey;
}