		/*margenes*/
.mt-2{
	margin-top: 2%;
}
		/*padding*/
.pd2{
	padding: 2%;
}

div.form-group{
	background-color: silver;
	padding: 1%;
	display: inline-block;
	margin: 1%;
}
h3{
	border: 1px solid black;
	display: inline-block;
	background-color: aqua;
	padding: 1%;
	margin: 1%;
}